.carousel{
  background: #ffffff;
  min-height: 50%;
  min-width: 100vh;
  padding: 20px;
}

.carousel-caption{
  color: #000000
}

a.carousel-control-prev{
  /* background: #ffffffad; */
  /* opacity: 1; */
}

a.carousel-control-next{
  /* background: #ffffffad; */
  /* opacity: 1; */
}

.carousel-inner{
  width: 100%;
  min-height: 85vh;
  max-height: 85vh;
}


.image-item img{
  width: 80%;
}

.image{
  max-width: 100%;
  max-height: 50%;
}