.recommendAmount {
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  width: 38%; /* Set width to 50% of the page width */
  display: flex;
  justify-content: center;
  margin-top: 10px;
  
}

.resultGraph {
    padding: 1px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-top: 30px;
    width: 38%; /* Set width to 50% of the page width */
    display: flex;
    justify-content: center;
    margin: 30px auto; /* Center the div horizontally and add margin-top */
  }