.resultGraph {
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-top: 30px;
    width: 30%; /* Set width to 50% of the page width */
    display: flex;
    justify-content: center;
    margin: 30px auto; /* Center the div horizontally and add margin-top */
  }