.tax {
    background: rgb(255, 184, 184);
    height: min-content;
     padding:  15px;
     border-radius: 20px;  
     border-style:solid;
     border-width: 1px;
     border-color: rgb(170, 185, 205); 
}
.newTax{
    background: rgb(193, 255, 184);
    padding:  15px;
    border-radius: 20px;  
    border-style:solid;
    border-width: 1px;
    border-color: rgb(170, 185, 205); 
}
.percentage{
    border-style:solid;
    border-width: 1px;
    border-color: rgb(195, 195, 195);
    background: rgb(248, 248, 248);
     padding: 15px;
     margin-top: 20px;
     border-radius: 20px;  

}
.suggestion{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style:solid;
    border-width: 1px;
    border-color: rgb(195, 195, 195);
    background: rgb(248, 248, 248);
     padding: 15px;
     margin-bottom: 20px;
     margin-top: 20px;
     border-radius: 20px;  

}